h1 {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;

    color: #031628;
}

h2 {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;

    color: #031628;
}

h3 {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;

    color: #031628;
}

span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;

    color: #031628;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;

    color: #031628;
}

a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;

    color: #031628;

    text-decoration: none;
    border: none;
}